
            <!-- Footer -->
            <footer id="page-footer" class="opacity-0">
                <div class="content py-20 font-size-sm clearfix">
                    <div class="float-right">
                        Develop with <i class="fa fa-heart text-pulse"></i> by <a class="font-w600" href="https://www.ecloudture.com" target="_blank">eCloudture</a>
                    </div>
                    <div class="float-left">
                        <a class="font-w600" href="{{ env.site_url }}" target="_blank">SandBag {{ env.version }}</a> &copy; <span class="js-year-copy"></span>
                    </div>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!--
            Codebase JS Core

            Vital libraries and plugins used in all pages. You can choose to not include this file if you would like
            to handle those dependencies through webpack. Please check out assets/_es6/main/bootstrap.js for more info.

            If you like, you could also include them separately directly from the assets/js/core folder in the following
            order. That can come in handy if you would like to include a few of them (eg jQuery) from a CDN.

            assets/js/core/jquery.min.js
            assets/js/core/bootstrap.bundle.min.js
            assets/js/core/simplebar.min.js
            assets/js/core/jquery-scrollLock.min.js
            assets/js/core/jquery.appear.min.js
            assets/js/core/jquery.countTo.min.js
            assets/js/core/js.cookie.min.js
        -->
        <script src="/assets/js/codebase.core.min.js"></script>

        <!--
            Codebase JS

            Custom functionality including Blocks/Layout API as well as other vital and optional helpers
            webpack is putting everything together at assets/_es6/main/app.js
        -->
        <script src="/assets/js/codebase.app.min.js"></script>
            <script src="/assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
            <script src="/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
            <script>
                window.websocket_url = "{{ env.websocket_url }}"
            </script>
            <script src="/assets/js/core/session.js"></script>
            <script src="/assets/js/pages/header.js"></script>

    </body>
</html>