{% include "header.twig" %}
<!-- Main Container -->
<main id="main-container">
    <!-- Page Content -->
    <div class="content">
        <h1 class="content-heading" style="text-align: center">Admin Panel</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="block block-themed" id="event_block">
                    <div class="block-header bg-corporate-dark">
                        <h3 class="block-title">
                            <i class="fas fa-cloud"></i> &nbsp;Event
                        </h3>
                        <div class="block-options">
                            <button type="button" id="event-edit-btn" class="btn-block-option js-tooltip-enabled">
                                <i class="si si-pencil"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block block-themed" id="users_block">
                    <div class="block-header bg-corporate-dark">
                        <h3 class="block-title">
                            <i class="fas fa-users"></i> &nbsp;Users
                        </h3>
                        <div class="block-options">
                            <button type="button" id="view-users-btn" class="btn-block-option js-tooltip-enabled">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block block-themed block-rounded" id="scoreboard-block">
                    <div class="block-header bg-corporate-darker">
                        <h3 class="block-title">
                            <i class="fas fa-star"></i> &nbsp;ScoreBoard
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" onclick="go_scoreboard()">
                                <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block block-themed block-rounded" id="event-history-block">
                    <div class="block-header bg-flat-darker">
                        <h3 class="block-title">
                            <i class="fas fa-history"></i> &nbsp;Event History
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option">
                                <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="content-heading" style="text-align: center">Settings</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="block block-themed block-rounded" id="request_enable_block">
                    <div class="block-header bg-gd-aqua">
                        <h3 class="block-title">
                            <i class="fas fa-toggle-on"></i> &nbsp;Request Power
                        </h3>
                    </div>
                    <div class="block-content pt-30 pb-30" style="text-align:center">
                        <label class="css-control css-control-primary css-radio">
                            <input type="radio" class="css-control-input" id="request_server" name="request_server" value="enable" data-key="request_power" data-value="enable">
                            <span class="css-control-indicator"></span> Enable
                        </label><label class="css-control css-control-primary css-radio">
                            <input type="radio" class="css-control-input" id="request_server" name="request_server" value="disable" data-key="request_power" data-value="disable">
                            <span class="css-control-indicator"></span> Disable
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block block-themed block-rounded" id="request_interval_block">
                    <div class="block-header bg-gd-aqua">
                        <h3 class="block-title">
                            <i class="fas fa-tachometer-alt-slowest"></i> &nbsp;Request Interval
                        </h3>
                    </div>
                    <div class="block-content pt-15 pb-15" style="text-align:center">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input type="text" class="js-rangeslider" id="request-interval" data-step="0.1"  name="request-interval" data-min="0" data-max="10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block block-themed block-rounded" id="waf_enable_block">
                    <div class="block-header bg-gd-aqua">
                        <h3 class="block-title">
                            <i class="fad fa-chimney"></i> &nbsp;WAF Power
                        </h3>
                    </div>
                    <div class="block-content pt-30 pb-30" style="text-align:center">
                        <label class="css-control css-control-primary css-radio">
                            <input type="radio" class="css-control-input" id="waf_request" name="waf_request" value="enable" data-key="waf_power" data-value="enable">
                            <span class="css-control-indicator"></span> Enable
                        </label><label class="css-control css-control-primary css-radio">
                            <input type="radio" class="css-control-input" id="waf_request" name="waf_request" value="disable" data-key="waf_power" data-value="disable">
                            <span class="css-control-indicator"></span> Disable
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

<!-- Start Modal Content -->
<div class="modal fade" id="modal-event-edit" tabindex="-1" role="dialog" aria-labelledby="modal-fadein" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Event Detail Edit</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="form-group">
                        <lable for="event_id">Event ID:</lable>
                        <input id="event_id" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <lable for="event_name">Event Name:</lable>
                        <input id="event_name" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary " data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-alt-success" id="event-update-btn">
                    <i class="fa fa-check"></i> Update
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-users-list" tabindex="-1" role="dialog" aria-labelledby="modal-fadein" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Users List</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <table class="table table-vcenter" id="users-list-detail">
                        <thead>
                        <tr>
                            <th>Team Name</th>
                            <th>Token</th>
                            <th>Available</th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-warning mr-auto" id="add_user_popup">Add User</button>
                <button type="button" class="btn btn-alt-secondary " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-user-add" tabindex="-1" role="dialog" aria-labelledby="modal-fadein" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Add User</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="form-group">
                        <lable for="user_number">User Number:</lable>
                        <input type="number" id="add_user_num" class="form-control" min="1" max="50">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" onclick="add_user(false)">Cancel</button>
                <button type="button" class="btn btn-alt-success" onclick="add_user(true)" id="add-user-btn">
                    <i class="fa fa-check"></i> Add
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END Modal Content -->
<script>
    window.pagename = "{{ page.name }}";
</script>
{% include "footer.twig" %}
<script src="/assets/js/pages/dashboard.js"></script>