{% include "header.twig" %}
<style>
    tr > td, tr > th{
        font-size: 18px;
    }
</style>
<!-- Main Container -->
<main id="main-container" style="min-height: 340px;">
    <!-- Page Content -->
    <div class="content">
        <h1 class="content-heading" style="text-align: center">ScoreBoard</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col">
                <table class="table table-hover table-vcenter">
                    <thead>
                    <tr>
                        <th class="text-center" style="width: 20%;">Rank</th>
                        <th style="width: 50%">Team</th>
                        <th class="d-none d-sm-table-cell" style="width: 30%">Score</th>
                    </tr>
                    </thead>
                    <tbody id="scoreboard-data">

                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <!-- END Page Content -->
</main>
<script>
    window.pagename = "{{ page.name }}"
</script>
{% include "footer.twig" %}
<script src="/assets/js/pages/scoreboard.js"></script>